/*h1 {
    font-size: 20px;
    color: black;
    margin: 15px;
    padding: 13px;
    padding-bottom: 0px;
    border-bottom: 3px solid #2ac5b3;
}
.float ul {
    display: inline-block;
    margin-top: 25px;
    margin-right: 100px;
}
.float li {
    display: inline-block;
    list-style: none;
    margin-right: 40px;
    padding: 10px;
    background: #333;
    color: black;
    padding-bottom: 1px;
    border-bottom: 2px solid #2ac5b3;
}

.wrapper {
    display: flex;
    justify-content: space-between;

}
.discription {
    text-align: center;
}

.About {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 30px;
    padding: 30px;
}


.contentsofabout {
    text-align: center;
    font-style: oblique;
    font-size: 20px;
}

.Bicycle {
    margin-top: 60px;
    text-align: center;
    font-size: 30px;
}

footer {
    text-align: center;
    font-size: 10px;
    background-color: #2ac5b3;
    margin: 0px;
    padding: 20px;
}*/

html {
    font-size: 100%;
}
body {
    color: #383e45;
    font-size: 0.9rem;
}
.float {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}
.site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
}
.section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
}
.content-title {
    font-size: 1rem;
    margin: 10px 0;
}
.wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: o 4%;
    text-align: center;
}
#discription {
    max-width: 100%;
    text-align: center;
}
/*---
ヘッダー
*/

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header li {
    margin-left: 30px;
}
#header li a {
    color: #24292e;
}

/* discricption
*/

#discription {
    margin-bottom: 80px;
}
#discription img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

/*---------------------------
About
--------------------------*/

#about .content {
    display: flex;
    justify-content: center;
    align-items: center;
}
#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 30px;
}
#about .text {
    text-align: left;
}

/* bicycle------------------------
*/

#bicycle ul {
    display: flex;
    justify-content: space-between;
}
#bicycle li {
    width: 32%;
}
.inquire {
    text-align: center;
}
.inquire h1 {
    font-size: 1rem;
    text-align: center;

}
.control {
    padding: 10px 0;
}

#inqure .box-5 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
}
#inqure .box-5 p {
    margin: 4rem; 
    padding: 0;
}
#message {
width: 60%;
}

/*------------------
footer
-----------------*/
#footer {
    text-align: center;
    
}