html {
    font-size: 100%;
    font-family: 'Amatic SC', cursive;
    width: 100%;
}
li {
    list-style: none;
}
#header {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: center;
    margin: 0 auto;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header li {
    margin-left: 30px;
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
}
#header .site-title {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    margin-left: 1cm;
}
#discription {
    text-align: center;
    max-width: 100%;
    display: flex;
    margin-left: 3cm;
    /*margin-top: 2cm;*/
    margin-bottom: 1cm;
}
#discription .pics {
    margin-top: 2cm;
    /*border-right: 1px dotted #000;*/
    padding-right: 2cm;;
}
#discription #description {
    margin-left: 4cm;
    margin-top: 2cm;
}
#discription #description .pcs-text {
    margin-top: 2cm;
}
#discription #description .pics-title {
    font-size: 25px;
}

#about {
    text-align: center;

}
#about-title{
    border-bottom: 1px solid #000;
    display: inline-block;
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
}
#about .content-title {
    font-size: 25px;
}
#about ul {
    justify-content: space-around;
    display: flex;
    margin-bottom: 1cm;
    flex-wrap: wrap;
    width: 100%;
}
#about img {
    width: 100px;
    height: 100px;
    padding: 40px;
    border: 9px solid #000;
    background-color: azure;
    box-shadow:
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 2cm;
    
}
#about .about-pics {
    display: flex;
    justify-content: space-between;
}
#about h2 {
    font-size: 40px;
    border-bottom: 1px solid #000;
    display: inline-block;
    margin-left: 2cm;
}
#footer {
    text-align: center;
    font-size: 5px;
}
#background {
    text-align: center;
    font-size: 30px;
}
#content .content-title {
    font-size: 30px;
    text-align: center;
}
#content .content {
    box-sizing: border-box;
    border-radius: 5%;
    box-shadow: 
    0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076),
    0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092),
    0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}
#content .content h3 {
    text-align: center;
    margin-top: 0cm;
    padding-top: 0%;
    font-size: 30px;
    
}
