html {
    font-size: 100%;
} 
li {
    list-style: none;
}
#header-title a {
    text-decoration: none;
    color: aliceblue;
}

#header-title h1 {
    font-size: 19px;
    margin-left: 3cm;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#header-title ul {
    display: flex;
    justify-content: left;
    background-color: #80796c;
    color: aliceblue;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
#header-title li {
    margin-left: 2cm;
}


#pickup {
    display: flex;
    text-align: center;
    justify-content: space-around;
}
#main-top img {
    width: 9cm;
    height: 5cm;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 1cm; 
}
#main-top p {
    text-align: center;
    justify-content: center;
}

